body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

.search {
    text-align: center;
    margin-top: 20px;
}

.searchbuttons {
    margin: 30px 4px;
    padding: 0 16px;
}

#logo {
    position: relative;
    padding-top: 109px;
    text-align: center;
    margin-top: 47px;
}

.header {
    padding-top: 1.15em;
}

.header-left {
    float: left;
}

.header-left a {
    display: inline-block;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    padding-left: 15px;
    vertical-align: middle;
}

.header-left a:hover {
    text-decoration: underline;
}

.header-right {
    float: right;
    padding-right: 1.5em;
}

.header-right a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    padding-left: 15px;
    vertical-align: middle;
}

.header-right a:hover {
    text-decoration: underline;
}

#google-account {
    border-radius: 50%;
    filter: contrast(100%);
}

#google-apps {
    height: 25px;
    width: 25px;
    opacity: .55;
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

.buttons {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
}

.buttons:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}